[package]
name = "crudcrate"
version = "0.0.2"
edition = "2021"
description = "Procedural macros to help with CRUD API design using Axum and Sea-ORM in Rust"
license = "MIT"
readme = "README.md"
repository = "https://github.com/evanjt/crudcrate"
keywords = ["crud", "api", "axum", "sea-orm"]
categories = ["web-programming", "database"]

[dependencies]
quote = "1.0.38"
syn = "2.0.98"
proc-macro2 = "1"

[lib]
proc-macro = true
